.App {
  background-color: #2a2a2a;
  color: aliceblue;
  min-height: 2000px;
}
.container h1{
  text-align: center;
}
.card{
  background-color: none;
}
p{
 margin: 0 !important;   
}
.temp-card .card-body .card-title{
  font-size: 50px;
}
.big-meteo-card{
  
}
.big-meteo-card .pic{
  text-align: left;
  margin-left: 10px;
}
.temp{
  font-size: 40px !important;
}
.listTime .list-group-item{
  color: aliceblue;
  background-color: #2a2a2a;
  border: none;
}
.std-card{
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
  background-color: transparent !important;
  min-height: 200px;
}
.col{
  padding: 0;
  margin: 0 !important;
}
.card-min{
  min-height: auto !important;
}
.card-nob{
  border: none !important;
}